---
import "../styles/global.css";

import games from "../data/games.json";
import GameCard from "../components/GameCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gascón Speedrun Games">
    <h1 class="text-3xl font-bold">Gascón Speedrun Games</h1>
    <p class="text-gray-600 dark:text-gray-400 mt-2 mb-6">
        Browse every game from the GM Gascón’s speedrun series.
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-6">
        {games.map((game) => <GameCard game={game} />)}
    </div>
</Layout>
