---
const { title } = Astro.props;
---

<html lang="en" class="bg-gray-50 text-gray-900">
    <head>
        <meta charset="utf-8" />
        <title>{title}</title>
    </head>

    <body class="min-h-screen mx-auto max-w-3xl p-6 font-sans">
        <slot />

        <footer class="text-center text-gray-500 text-sm mt-10 pb-4">
            Gascón Speedrun Library · Copyright (c) Gabo 2025
        </footer>
    </body>
</html>
